.iconsContainer {
  display: flex !important;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px;
  gap: 5px;
}

.red {
  color: var(--input-asterisk-color, var(--mantine-color-error))
}