.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.table {
  cursor: pointer;
}

.tableDescription {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
