.navbar {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-md);
  width: var(--navbar-width);
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
  margin-top: 50px;
}