.root {
  margin-top: 40px;
  width: 36px;
  height: 36px;
  border: 1px solid var(--mantine-color-dark-4);
  border-radius: 4px;
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }
}