.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 0.5rem 1rem;
  overflow: auto;
  margin-left: var(--navbar-width);
  min-height: 100vh;

  h1 {
    margin-top: 0;
  }
}